@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;1000&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@700&family=Merriweather:wght@300;400;700;900&display=swap');
        *{
            padding: 0;
            margin: 0;
            font-family: inter;
            box-sizing: border-box;
            transition: 0.25s;
        }
        ::-webkit-scrollbar {
            width: 10px;
        }
          
          /* Track */
        ::-webkit-scrollbar-track {
            background:#111A3A;
        }
          
          /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #0C5ADB;
        }
          
          /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #f1f1f1;
        }
        .main-nav{
            z-index: 3;
        }
        nav{
            height: 90px;
            width: 100%;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 300px;
            transition: 0.25s;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        }
        .logo div p:nth-child(1){
            color: black;
            font-size: 2rem;
            font-family: 'League Spartan';
        }
        .logo div p:nth-child(2){
            font-family: inter;
            color: #0C5ADB;
        }
        nav ul{
            display: flex;
            list-style-type: none;
            align-items: center;
            gap: 1.3rem;
            transition: left 0.8s;
        }
        nav ul li a{
            color: #000000;
            text-decoration: none;
            transition: 0.25s;
            font-size: 1.2rem;
        }
        nav ul li a:hover{
            color: #0C5ADB;
        }
        .quoute{
            border: none;
            padding: 1rem;
            font-size: 1.2rem;
            background-color: #0C5ADB;
            cursor: pointer;
            border-radius: 5px;
            color: white;
            transition: 0.25s;
        }
        .quoute:hover{
            background-color: #3876da;
        }
        nav .btn{
            background-color: transparent;
            border: none;
            display: none;
            cursor: pointer;
        }
        nav .btn i{
            font-size: 1.8rem;
            color: black;
            transition: 0.25s;
        }
        .overlay{
            transition: 0.25s;
        }
        .btn-color{
            color: #0C5ADB;
        }
        .hide{
            overflow: hidden;

        }
        .main-nav{
            display: flex;
            flex-direction: column;
            position: sticky;
            top: 0;
            width: 100%;
        }
        .logo{
            display: flex;
            align-items: center;
            gap: 0.4rem;
        }
        .logo img{
            width: 4.4rem;
        }
        .logo div{
            display: flex;
            flex-direction: column;
        }
        .logo div p{
            font-size: 1.8rem;
            font-weight: 700;
        }
        #lg{
            text-decoration: none;
        }
        .top-nav{
            background-color: #111A3A;
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 300px;
            font-size: 1rem;
        }
        .top-nav div{
            display: flex;
            gap: 5px;
        }
        .top-nav div:nth-child(1){
            gap: 30px;
        }
        .top-nav div p{
            display: flex;
            align-items: center;
            gap: 10px;
            color: white;
        }
        .top-nav div p i{
            color: #0C5ADB;
        }
        .top-nav i{
            font-size: 1.2rem;
            color: white;
        }
        @media (max-width: 900px){
            nav ul li a{
                color: white;
            }
            nav{
                position: relative;
                padding: 0;
            }
            div.blur{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 15000px;
                background-color: rgba(0, 0, 0, 0.6);
                webkit-backdrop-filter: blur(3px);
                z-index: 1;
            }
            ul.clicked{
                left: 0%;
                height: 100vh;
            }
            nav ul{
                transition: 0.8s;
                left: -100%;
                padding-top: 50px;
                gap: 50px;
                align-items: center;
                font-size: 1.4rem;
                width: 50%;
                height: 100vw;
                top: 100%;
                background-color: #1B1E24;
                flex-direction: column;
                position: absolute;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 40px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            }
            nav .btn{
                display: block;
            }
            nav .btn i{
                font-size: 2rem;
            }
        }
        .hero{
            width: 100%;
            height: 810px;
            background-image: url('./images/slider-01.jpg');
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            color: white;
            padding-left: 300px;
            gap: 2rem;
        }
        .hero p:nth-child(1){
            text-decoration: underline;
            font-family: 'Merriweather';
            font-size: 1.3rem;
            font-weight: 700;
        }
        .hero h1,h2{
            font-family: 'Merriweather';
            font-size: 3.5rem;
        }
        .hero p{
            font-size: 1.3rem;
        }
        .hero button{
            padding: 1.2rem 1.8rem;
            font-size: 1.05rem;
            border: none;
            border-radius: 5px;
            color: white;
            background-color: #0C5ADB;
            transition: 0.25s;
            cursor: pointer;
        }
        .hero button:hover{
            background-color: white;
            color: #0C5ADB;
        }
        @media (max-width: 1570px){
            nav{
                padding: 0 200px;
            }
            .top-nav{
                padding: 0 200px;
            }
            .hero{
                padding-left: 200px;
            }
        }
        @media (max-width: 1400px){
            nav{
                padding: 0 100px;
            }
            .top-nav{
                padding: 0 100px;
            }
            .hero{
                height: 600px;
                padding-left: 100px;
            }
        }
        @media (max-width: 1160px){
            html{
                font-size: 14px;
            }
            nav{
                padding: 0 50px;
            }
            .top-nav{
                padding: 0 50px;
            }
            .hero p:nth-child(1){
                font-size: 1.1rem;
            }
            .hero h1,h2{
                font-size: 3.2rem;
            }
            .hero p{
                font-size: 1.1rem;
            }
            .hero{
                padding-left: 0;
                text-align: center;
                align-items: center;
                padding: 0 20px;
            }
        }
        @media (max-width: 600px){
            html{
                font-size: 13px;
            }
            .top-nav div:nth-child(1){
                flex-direction: column;
                gap: 0;
            }
        }
        @media (max-width: 400px){
            nav{
                padding: 0 20px;
            }
            .top-nav{
                padding: 0 20px;
            }
        }
        @media (max-width: 380px){
            nav{
                padding: 0 10px;
            }
            .top-nav{
                padding: 0 10px;
            }
        }
        .after-hero{
            font-size: 1rem;
            width: 100%;
            height: 550px;
            margin: 100px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Merriweather;
        }
        .after-hero-main{
            width: 60%;
            height: 100%;
            display: flex;
            gap: 50px;
        }
        .after-hero-bg{
            width: 50%;
            height: 100%;
            background-image: url('./images/about-thumb-01.jpg');
            background-size: cover;
        }
        .hero-text{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .hero-text > p:nth-child(1){
            font-weight: 700;
            color: rgb(158, 169, 179);
            letter-spacing: 5px;
            font-family: Merriweather;
            font-size: 0.9em;
        }
        .hero-text > p:nth-child(2){
            font-size: 2.5em;
            font-family: Merriweather;
        }
        .hero-text > p:nth-child(2) span{
            font-weight: 700;
            font-family: Merriweather;
        }
        .hero-text > p:nth-child(3){
            color: rgb(97, 97, 97);
        }
        .in-after-hero{
            width: 100%;
            display: flex;
            gap: 1.8em;
        }
        .in-after-hero div{
            gap: 10px;
            display: flex;
            flex-direction: column;
        }
        .in-after-hero div i{
            font-size: 3em;
            color: #0C5ADB;
        }
        .in-after-hero-p{
            font-family: Merriweather;
            color: black;
            font-size: 1.2em;
            font-weight: 700;
        }
        .in-after-hero div p{
            color: rgb(97, 97, 97);
        }
        .in-after-hero hr{
            border: 2px solid rgb(190, 190, 190);
            transition: 0.25s;
        }
        .in-after-hero div:hover hr{
            border-color: #0C5ADB;
        }
        .hero-text button{
            font-size: 1.1em;
            font-weight: 700;
            color: white;
            background-color: rgb(12, 90, 219);
            border: 2px solid rgb(12, 90, 219);
            padding: 1em 2.8em;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.25s;
        }
        .hero-text button:hover{
            background-color: white;
            color: #0C5ADB;
        }
        .choose-us{
            padding: 0 20px;
            width: 100%;
            height: 800px;
            background-color: #3B3F52;
            
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            color: white;
            font-size: 16px;
        }
        .choose-top{
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;
        }
        .choose-top p:nth-child(1){
            font-family: Merriweather;
            font-weight: 700;
            letter-spacing: 0.3em;
            font-size: 0.9em;
        }
        .choose-top p:nth-child(2){
            font-family: Merriweather;
            font-weight: 300;
            font-size: 2.5em;
        }
        .choose-top p:nth-child(2) span{
            font-family: Merriweather;
            font-weight: 700;
        }
        .choose-top hr{
            border: 3px solid white;
        }
        .choose-bottom{
            display: flex;
            gap: 1.3em;
        }
        .sides-choose{
            display: flex;
            flex-direction: column;
            gap: 1.3em;
        }
        .choose-reason{
            padding: 3.2em;
            max-width: 550px;
            min-width: 260px;
            min-height: 150px;
            background-color: #54596e;
            display: flex;
            gap: 3.5em;
            align-items: center;
            border-radius: 10px;
            transition: 0.25s;
        }
        .choose-reason:hover{
            background-color: rgb(38, 32, 190);
        }
        .reason-left{
            font-size: 3.2em;
        }
        .reason-right{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .reason-right p:nth-child(1){
            font-size: 1.3em;
            font-weight: 700;
        }
        .reason-right p:nth-child(2){
            font-weight: 400;
            color: rgba(254, 254, 254, 0.6);
        }
        .services{
            width: 100%;
            height: 1200px;
            background-color: #F4F7FC;
            padding-top: 100px;
            padding-bottom: 100px;
            padding-left: 40px;
            padding-right: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
        }
        .top-services{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            gap: 20px;
        }
        .top-services p:nth-child(1){
            font-family: Merriweather;
            font-weight: 900;
            letter-spacing: 0.3em;
            color: rgb(159, 159, 159);
            font-size: 1em;
        }
        .top-services p:nth-child(2){
            font-family: Merriweather;
            font-weight: 300;
            font-size: 2.5em;
        }
        .top-services p:nth-child(2) span{
            font-weight: 700;
            font-family: Merriweather;
        }
        .top-services hr{
            border: 3px solid #0C5ADB;
            width: 300px;
        }
        .bottom-services{
            display: flex;
            flex-direction: column;
            gap: 1.2em;
        }
        .services-sides{
            display: flex;
            gap: 1.2em;
        }
        .service-choose{
            background-color: white;
            border-radius: 10px;
            border-bottom: 3px solid #0C5ADB;
            padding: 10px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            gap: 30px;
            max-width: 380px;
            height: 350px;
            transition: 0.25s;
        }
        .service-choose i{
            font-size: 3.5em;
            color: #0C5ADB;
        }
        .service-choose p:nth-child(2){
            font-family: Merriweather;
            font-size: 1.3em;
            font-weight: 700;
        }
        .service-choose p:nth-child(3){
            color: rgb(97, 97, 97);
            font-size: 1em;
            font-weight: 400;
        }
        .service-choose a{
            color: #0C5ADB;
            font-weight: 700;
            font-size: 1.1em;
            text-decoration: none;
        }
        .service-choose:hover{
            background-color: #0C5ADB;
        }
        .service-choose:hover a , .service-choose:hover p, .service-choose:hover i, .service-choose:hover p:nth-child(3){
            color: rgb(255, 255, 255);
        }
        .team{
            width: 100%;
            height: 850px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            font-size: 16px;
        }
        .top-team{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            text-align: center;
        }
        .top-team p:nth-child(1){
            font-family: Merriweather;
            font-weight: 900;
            letter-spacing: 0.3em;
            color: rgb(159, 159, 159);
            font-size: 1em;
        }
        .top-team p:nth-child(2){
            font-family: Merriweather;
            font-weight: 300;
            font-size: 2.5em;
        }
        .top-team p:nth-child(2) span{
            font-weight: 700;
            font-family: Merriweather;
        }
        .top-team hr{
            border: 3px solid #0C5ADB;
            width: 300px;
        }
        .bottom-team{
            display: flex;
            gap: 2em;
            align-items: center;
            justify-content: center;
        }
        .profiles{
            width: 350px;
            height: 440px;
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: end;
            transition: 0.25s;
            background-size: cover;
            background-image: url('./images/team-1.jpg');
            background-position: center;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        }
        .profiles:hover{
            scale: 1.05;
        }
        .bottom-team a:nth-child(2) .profiles{
            background-image: url('./images/team-2.jpg');
        }
        .bottom-team a:nth-child(3) .profiles{
            background-image: url('./images/team-03.jpg');
        }
        .profiles div{
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 20%;
            background-color: white;
            transition: 0.25s;
        }
        .profiles div p:nth-child(1){
            color: black;
            font-weight: 700;
            font-size: 1.5em;
            font-family: Merriweather;
        }
        .profiles div p:nth-child(2){
            font-family: Merriweather;
            color: rgb(159, 159, 159);
        }
        .profiles:hover div{
            background-color: #0C5ADB;
        }
        .profiles:hover div p:nth-child(1){
            color: white;
        }
        .profiles:hover div p:nth-child(2){
            color: white;
        }
        .bottom-team a{
            text-decoration: none;
        }
        .technologies{
            font-size: 16px;
            width: 100%;
            height: 500px;
            background-color: #3B3F52;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
        .top-technologies{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 20px;
        }
        .top-technologies p:nth-child(1){
            font-family: Merriweather;
            font-weight: 900;
            letter-spacing: 0.3em;
            color: white;
            font-size: 1em;
        }
        .top-technologies p:nth-child(2){
            color: white;
            font-family: Merriweather;
            font-weight: 300;
            font-size: 2.5em;
        }
        .top-technologies p:nth-child(2) span{
            font-weight: 700;
            font-family: Merriweather;
            color: white;
        }
        .top-technologies hr{
            width: 300px;
            border: 3px solid #0C5ADB;
        }
        .bottom-technologies{
            display: flex;
            gap: 1.2em;
        }
        .techs{
            width: 150px;
            height: 150px;
            color: white;
            background-color: #0C5ADB;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            transition: 0.25s;
        }
        .techs i{
            font-size: 2.5em;
            transition: 0.25s;
        }
        .techs p{
            font-size: 1.3em;
            font-weight: 500;
            transition: 0.25s;
        }
        .techs:hover{
            background-color: white;
            border-radius: 50%;
        }
        .techs:hover p, .techs:hover i{
            color: #0C5ADB;
        }
        .bottom-technologies > div{
            display: flex;
            gap: 20px;
        }
        .testimonials{
            padding: 0 20px;
            text-align: center;
            width: 100%;
            height: 800px;
            background-color: #F4F7FC;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            gap: 4rem;
        }
        .top-testimonials{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.9em;
        }
        .top-testimonials p:nth-child(1){
            font-family: Merriweather;
            font-weight: 700;
            letter-spacing: 0.3em;
            font-size: 0.9em;
            color: gray;
        }
        .top-testimonials p:nth-child(2){
            font-family: Merriweather;
            font-weight: 300;
            font-size: 2.5em;
        }
        .top-testimonials p:nth-child(2) span{
            font-weight: 700;
            font-family: Merriweather;
        }
        .top-testimonials hr{
            border: 3px solid #0C5ADB;
            width: 100%;
        }
        .bottom-testimonials{
            display: flex;
            gap: 20px;
        }
        .profile-test{
            padding: 0 1.5em;
            max-width: 380px;
            height: 450px;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        .photo-testimonial{
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            position: relative;
        }
        .profile-test:nth-child(1) .photo-testimonial{
            background-image: url('./images/t-01.jpg');
        }
        .profile-test:nth-child(2) .photo-testimonial{
            background-image: url('./images/t-02.jpg');
        }
        .profile-test:nth-child(3) .photo-testimonial{
            background-image: url('./images/t-03.jpg');
        }
        .profile-test > p{
            color: rgb(97, 97, 97);
            font-weight: 500;
            font-family: Meiwether;
            font-size: 1.1em;
            font-style: italic;
        }
        .info-test{
            display: flex;
            flex-direction: column;
            gap: 0.5em;
        }
        .info-test p:nth-child(1){
            font-weight: 700;
            font-family: Meiwether;
            font-size: 1.6em;
        }
        .info-test p:nth-child(2){
            font-family: Meiwether;
            font-size: 1.3em;
            font-weight: 500;
            color: #0C5ADB;
        }
        .qt{
            position: absolute;
            bottom: 0px;
            right: -15px;
            width: 50px;
            height: 50px;
            font-size: 1.5em;
            background-color: #0C5ADB;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
        .white-lg .logo > div p{
            color: white;
        }
        footer{
            width: 100%;
            height: 400px;
            background-color: #111A3A;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .main-footer{
            width: 100%;
            padding: 0 300px;
            height: 300px;
            display: flex;
            justify-content: space-between;
        }
        .main-footer > div{
            width: 300px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: rgba(255, 255, 255, 0.8);
        }
        .logo-footer > div{
            display: flex;
            flex-direction: column;
            gap: 0.9em;
        }
        .logo-footer > div p{
            font-size: 1.05em;
        }
        .logo-footer > div p span{
            font-weight: 700;
        }
        .important-footer > p{
            font-size: 1.5em;
            font-weight: 500;
            color: white;
        }
        .important-footer > div{
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
        .lk{
            font-size: 1.05em;
            display: flex;
            align-items: center;
            gap: 0.9em;
        }
        .lk hr{
            width: 20px;
        }
        .lk a{
            color: rgba(255, 255, 255, 0.8);
            text-decoration: none;
        }
        .lk a:hover{
            color: #0C5ADB;
        }
        .news-footer p{
            font-size: 1.05em;
        }
        .news-footer p:nth-child(1){
            font-size: 1.5em;
            font-weight: 500;
            color: white;
        }
        .news-footer form{
            display: flex;
        }
        .news-footer form input, .news-footer form button{
            padding: 0 10px;
            height: 50px;
            font-size: 1.03em;
            border: 2px solid #0C5ADB;
        }
        .news-footer form button{
            width: 50px;
            background-color: #0C5ADB;
            color: white;
            cursor: pointer;
        }
        .news-footer form input{
            background-color: transparent;
        }
        .news-footer form input:focus{
            outline: none;
        }
        .news-footer p:nth-child(4){
            font-size: 1.5em;
            font-weight: 500;
            color: white;
            
        }
        .news-footer > div{
            display: flex;
            gap: 1em;
            font-size: 1.4em;
        }
        .news-footer > div a{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            color: white;
            border: 1px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
        .news-footer > div a:hover{
            border: 1px solid #0C5ADB;
            background-color: #0C5ADB;
            color: white;
        }
        @media (max-width: 1450px){
            .after-hero-main{
                width: 90%;
            }
        }
        @media (max-width: 960px){
            .after-hero-main{
                width: 95%;
            }
            .after-hero{
                font-size: 14px;
            }
        }
        @media (max-width: 850px){
            .after-hero{
                text-align: center;
                height: 1000px;
                font-size: 15px;
            }
            .after-hero-main{
                flex-direction: column;
                width: 95%;
                height: 100%;
            }
            .after-hero-bg{
                width: 100%;
                height: 50%;
                background-image: url('./images/about-thumb-01.jpg');
                background-size: cover;
            }
            .hero-text{
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        @media (max-width: 500px){
            .after-hero{
                font-size: 14px;
                margin: 50px 0;
            }
        }
        @media (max-width: 410px){
            .after-hero{
                height: 1300px;
            }
            .in-after-hero{
                flex-direction: column;
            }
        }
        @media(max-width: 300px){
            .after-hero-bg{
                background-image: url('./images/Premium\ Photo\ _\ Programmer\ working\ on\ laptop\ computer\ in\ office\ studio.jpg');
            }
            .after-hero{
                font-size: 13px;
            }
        }
        @media (max-width: 900px){
            .choose-us{
                height: 1000px;
                font-size: 14px;
            }
            .choose-bottom{
                flex-direction: column;
            }
        }
        @media (max-width: 600px){
            .choose-us{
                font-size: 13px;
            }
        }
        @media (max-width: 450px){
            .choose-us{
                height: 1300px;
            }
            .choose-reason{
                flex-direction: column;
            }
        }
        @media (max-width: 1200px){
            .services{
                font-size: 14px;
                height: 1100px;
            }
            .service-choose{
                max-width: 350px;
                height: 320px;
            }
        }
        @media (max-width: 1150px){
            .services{
                height: 100%;
                padding-top: 60px;
                padding-bottom: 60px;
                gap: 40px;
            }
            .bottom-services{
                flex-direction: row;
            }
            .services-sides{
                flex-direction: column;
            }
        }
        @media (max-width: 750px){
            .services{
                font-size: 13px;
            }
            .top-services hr{
                width: 200px;
                border: 2px solid #0C5ADB;
            }
            .bottom-services{
                flex-direction: column;
            }
            .service-choose{
                max-width: 300px;
                height: 280;
            }
        }
        @media (max-width: 1150px){
            .team{
                font-size: 15px;
                height: 1800px;
            }
            .bottom-team{
                flex-direction: column;
            }
        }
        @media (max-width: 1000px){
            .team{
                font-size: 13px;
            }
        }
        @media (max-width: 380px){
            .team{
                height: 1450px;
            }
            .top-team hr{
                width: 200px;
            }
            .profiles{
                width: 280px;
                height: 370px;
            }
        }
        @media (max-width: 1050px){
            .technologies{
                height: 600px;
                font-size: 14px;
            }
            .bottom-technologies{
                flex-direction: column;
            }
        }
        @media (max-width: 530px){
            .technologies{
                height: 1350px;
                font-size: 13px;
            }
            .bottom-technologies > div{
                flex-direction: column;
            }
            .bottom-technologies{
                width: 100%;
                align-items: center;
            }
            .bottom-technologies > div{
                width: 100%;
                align-items: center;
            }
            .techs{
                width: 80%;
            }
            .techs:hover{
                border-radius: 0;
            }
            .top-technologies hr{
                width: 200px;
            }
        }
        @media (max-width: 950px){
            .testimonials{
                padding: 50px 20px;
                height: 100%;
            }
            .bottom-testimonials{
                flex-direction: column;
            }
            .top-testimonials hr{
                width: 200px;
            }
        }
        @media (max-width: 1500px){
            .main-footer{
                padding: 0 20px;
            }
        }
        @media (max-width: 800px){
            footer{
                text-align: center;
                height: 900px;
            }
            .main-footer{
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                height: 100%;
                gap: 2em;
                padding: 20px;
            }
            .main-footer > div{
                width: 100%;
                gap: 2em;
                justify-content: center;
                align-items: center;
            }
            .lk{
                justify-content: center;
                align-items: center;
            }
            .lk hr{
                display: none;
            }
        }
        .main-loader{
            width: 100%;
            height: 100vh;
            position: absolute;
            background-color: #0C5ADB;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 100;
        }
        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }
          
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }